/* Navigation section*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.7rem;
    padding: 0px 6px;
    padding-bottom: 8px;
}
#navbar ul li a:hover{
    font-size: 1.1rem;
}
/* home section*/
#home{
    height: 280px;
    padding: 3px 68px;
}
#home::before{
    height: 280px;
}
#home p{
    font-size: 9px;
}

/* services section*/
#services{

    flex-direction: column;
}
#services .box img{
    display: block;
    height: 74px;
    margin:26px auto;
}

/* client section  */
#clients{
    display: flex;
    flex-direction: row;
}
#clients{
flex-wrap: wrap;
}
#clients img{
    width: 80px;
    padding: 2px 2px;
    height: auto;
}
#clients img:hover{
    height: 90px;
    cursor: pointer;
}
.client-item{
    padding: 17px;
}
/* contact section */

/* fotter  */

/* Utility classes */
.h-primary{
    margin-top: 60px;
    font-size: 1.4rem;
}
#home .h-primary{
    margin-top: 190px;
    font-size: 1.4rem;
}
.h-secondary {
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    padding: 12px;
}
.btn{
    font-size: 13px;
    padding: 8px;
}
.section6{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}